@service:   #696969;
@distinct: #000080;

@import "spaces";
@import "variables";



section.Company{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: black;
	h1{
		color: #fff;
	}
}
section.Monitor{
	background-color: @clouds;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;

     li{
     	font-size: 18px;
     
     	padding-bottom: 10px;

     }
}